{:paths ["src"]
 :deps {
        io.github.kotoba-lang/log-log
        {:git/url "https://github.com/kotoba-lang/log-log.git"
         :git/sha "e766397aae356b11b66813ac8d1de900d6be65f6"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
